  select {
    background-color: aliceblue;
    color: #6275DC;
    border: transparent;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    text-align: center;
    border-radius: 5px;
  }