.Header {
	width: 100%;
	background-color: #6275dc;
	row-gap: 0;
}

h1 {
	margin: 0px;
	text-align: center;
}

.FunctionBar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	column-gap: 40px;
	flex-wrap: wrap;
}

select {
	background-color: #8797EA;
}

ul.Algos,
.n2,
.nlogn {
	margin-top: 0px;
	display: flex;
	justify-content: space-around;
	gap: 5px 20px;
	text-align: center;
	flex-wrap: wrap;
}
p,
li.Sort,
.Start {
	cursor: pointer;
	transition: color 0.3s ease-in-out, 0.3s ease-in-out;
}

li.Active {
	color: #ff8d12;
}

li.Finished {
	color: #31d36d;
}

@media (max-width: 1000px) {
	h1, label, p, select {
		color: #233BBA;
	}

}


@media (min-width: 1000px) {
	li.Sort:hover {
		color: #ff8d12;
	}

	p:hover {
		color: #233bba;
	}
}
