.Bars {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


ul.BarList {
    display: flex;
    align-items: end;
    gap: 1px;
    height: 90%;
    width: 90%;
}

li {
    cursor: default;
}

li.Bar {
    cursor: auto;
    flex-grow: 1;
    background-color: #d4dbfe;
    display: inline-block;
    width: fit-content;
}

li.Bar.Selected {
    background-color: #FF3B12;
}

li.Bar.Green{
    background-color: #31D36D;
}

@media (max-width: 1000px) {
    ul.BarList {
        gap: 1px;
    }
    .Bars {
        height: 75vh;
    }
}